/Unit2/Lab14_AbstractClass/Lab14_AbstractClass/nbproject/private/
/Unit1/Labs/Lab9 Control sentences and data types/Lab4_AbstractClass/nbproject/private/
/Unit1/Labs/Lab9 Control sentences and data types/Lab4_AbstractClass/build/
/Unit2/Lab14_AbstractClass/States/nbproject/private/
/Unit2/Lab14_AbstractClass/States/build/
/Unit2/Nueva Carpeta/Lab15interface/nbproject/private/
/Unit2/Nueva Carpeta/Lab15_interfaces/nbproject/private/
/Unit2/Nueva Carpeta/Lab15_interfaces/build/
/Unit2/Lab15_Exceptions/Lab16_Exceptions/nbproject/private/
/Unit2/Lab15_Exceptions/Lab16_Exceptions/build/
/Unit2/Lab17_UnitTesting/Lab17_UnitTesting/nbproject/private/
/Unit2/Lab11_Arrays/Lab11_Arrays/build/
/Unit2/Assignments/H11_UnitTesting/H11_UnitTesting/nbproject/private/
/Unit2/Assignments/H11_UnitTesting/H11_UnitTesting/build/
/Unit2/Labs/Lab10_Files/build/
/Unit2/Labs/Lab10_Files/dist/
/Unit2/Labs/Lab10_Files/nbproject/private/
/Unit2/Labs/Lab11_Arrays/Lab11_Arrays/build/
/Unit2/Labs/Lab11_Arrays/Lab11_Arrays/nbproject/private/
/Unit2/Labs/Lab12_Inheritance/Lab12_Inheritance/build/
/Unit2/Labs/Lab12_Inheritance/Lab12_Inheritance/nbproject/private/
/Unit2/Labs/Lab14_AbstractClass/States/build/
/Unit2/Labs/Lab14_AbstractClass/States/nbproject/private/
/Unit2/Labs/Lab15_Interfaces/Lab15_interfaces/build/
/Unit2/Labs/Lab15_Interfaces/Lab15_interfaces/nbproject/private/
/Unit2/Labs/Lab16_Exceptions/Lab16_Exceptions/build/
/Unit2/Labs/Lab16_Exceptions/Lab16_Exceptions/nbproject/private/
/Unit2/Labs/Lab17_UnitTesting/Lab17_UnitTesting/nbproject/private/
/Unit2/Labs/Lab17_UnitTesting/Rhombus/nbproject/private/
/Unit2/Labs/Lab17_UnitTesting/Rhombus/build/