/Labs/Lab18_Collection/Lab18_Collections/nbproject/private/
/Labs/Lab18_Collection/Lab18_Collections/build/
/Labs/Nueva Carpeta/JavaApplication19/nbproject/private/
/Labs/Nueva Carpeta/JavaApplication19/build/
/Labs/Nueva Carpeta/JavaApplication19/dist/
/Labs/Nueva Carpeta/Lab19_ConsumingLibreries/nbproject/private/
/Labs/Nueva Carpeta/Lab19_ConsumingLibreries/build/
/Assignments/ImpuestoRenta/dist/
/Labs/Lab20_DatosReferenciados/Lab20_DatosReferenciados/nbproject/private/
/Labs/Lab20_DatosReferenciados/Lab20_DatosReferenciados/build/
/Labs/Lab20_DatosReferenciados/JavaApplication22/nbproject/private/
/Labs/Lab20_PersonalExceptions/Lab20_PersonalExceptions/nbproject/private/
/Labs/Lab20_PersonalExceptions/Lab20_PersonalExceptions/build/